@model ViewMyAds
@using JunkSiteLogin.data;
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 70px;">

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    @foreach (Ad ad in Model.MyAds)
                    {
                    <div class="jumbotron">
                        <h5>Listed on @ad.Date.ToShortDateString()</h5>
                        <h5>Phone Number: @ad.PhoneNumber</h5>
                        <h3>Details:</h3>
                        <p>@ad.Description</p>
                        <form method="post" action="/home/DeleteAd">
                            <input type="hidden" name="adId" value=@ad.Id />
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    }
                </div>
            </div>
        </main>
    </div>